<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I am the AppComponent !</h3>
            <hr>
            <app-servers></app-servers>
        </div>
        <div>
            <ol>
                <li>Create two new Components (manually or with CLI): WarningAlert and SuccessAlert</li>
                <li>Output them beneath each other in the AppComponent</li>
                <li>Output a warning or success message in the Components</li>
                <li>Style the Components appropriately (maybe some red/ green text?)</li>
              </ol>
              <p>Use external or internal templates and styles!</p>
              <p>Feel free to create more components, nest them into each other or play around with different types of selectors!</p>
        </div>
        <p>Warning and success</p>
        <app-warningallert></app-warningallert>
        <app-success-allert></app-success-allert>
    </div>
</div>